<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>Tiny ToDo</title>
  <link rel="stylesheet" href="static/todo.css" /> <!--4-->
</head>

<body>
  <!-- Header -->
  <header>
    <h1>Tiny ToDo</h1>
  </header>

  <!-- Main -->
  <main>

    <form method="post" action="add">
      <input type="text" name="todo" placeholder="Add a new todo" />
      <button type="submit">Add</button>

    </form>

    <ul class="todo-list">
      {{range .}} <!--1-->
      <li class="todo-item">
        <div class="todo-item-left">
          <input type="checkbox" />
          <label>{{.}}</label> <!--3-->
        </div>
      </li>
      {{end}} <!--2-->
    </ul>
  </main>
</body>

</html>